:root {
  /* COLORS */
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;

  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0a;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;

  --gradient-border: linear-gradient(
    90deg,
    #77c0a 0%,
    #d1dc97 14.84%,
    #e9a9b3 32.15%,
    #d586e0 65.79%,
    #91a1fa 84.58%
  );

  --gradient-background: linear-gradient(90deg, #d586e0 0%, #91a1fa 98.93%);

  --gradient-content: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);
  /*  */

  /* TOPOGRAPHY */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
