:root {
    /* COLORS */
    --content-primary: #ffffff;
    --content-secondary: #c7c9cc;
    --content-tertiary: #d9d9d9;
    --content-brand: #c58de7;
    --color-inverse: #030203;

    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222e;
    --background-brand: #c58de7;
    --background-gray: #3d3d3d;

    --accent-pink: #d586e0;
    --accent-blue: #91a1fa;
    --accent-green: #77c0a;
    --accent-lime: #d1dc97;
    --accent-red: #e9a9b3;

    --gradient-border: linear-gradient(90deg,
            #77c0a 0%,
            #d1dc97 14.84%,
            #e9a9b3 32.15%,
            #d586e0 65.79%,
            #91a1fa 84.58%);

    --gradient-background: linear-gradient(90deg, #d586e0 0%, #91a1fa 98.93%);

    --gradient-content: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);

    /* TOPOGRAPHY */
    --font-sora: "Sora", sans-serif;
    --font-roboto-mono: "Roboto Mono", monospace;
    --font-roboto-flex: "Roboto Flex", sans-serif;

    --display-large: 800 4.5rem/1.3 var(--font-sora);
    --display-medium: 800 2.5rem/1.3 var(--font-sora);
    --display-small: 700 2rem/1.3 var(--font-sora);

    --overline: 700 1rem/1.5 var(--font-roboto-mono);

    --paragraph-large: 500 1rem/1.5 var(--font-roboto-flex);
    --paragraph-medium: 500 0.875rem/1.5 var(--font-roboto-flex);
    --paragraph-small: 500 0.75rem/1.5 var(--font-roboto-flex);

    --label-medium: 700 1rem/1.5 var(--font-roboto-flex);
    --label-small: 700 0.875rem/1.5 var(--font-roboto-flex);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

input {
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    text-align: center;
        color: var(--content-primary);
}

input::-webkit-inner-spin-button {
    appearance: none;
}

body {
    background-color: var(--background-primary);
    background-image: url(../image/Linha.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        color: var(--content-primary);

}

#app {
    width: 100vw;
    min-height: 100dvh;
    padding: 2.25rem 2.1875rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 1) 100%);
}

header {
    padding-bottom: 2.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#layout {
    display: flex;
    flex-direction: column;
    gap: 2.625rem;
}

#header-layout span {
    font: var(--overline);
    text-transform: uppercase;
    background: var(--gradient-content);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header-layout h1 {
    font: var(--display-medium);
    color: var(--content-primary);
    text-transform: uppercase;
    margin-bottom: 8px;
}

#app-layout {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#header-app-layout h2 {
    font: var(--label-medium);
    color: var(--content-primary);
    text-transform: uppercase;
    margin-bottom: 2px;
}

#header-app-layout p {
    font: var(--paragraph-medium);
    color: var(--content-tertiary);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#fields {
    display: flex;
    gap: 0.75rem;
}

.number-field {
    max-width: 5.375rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.number-field label {
    font: var(--label-medium);
    color: var(--content-secondary);
    text-transform: uppercase;
    text-align: center;
}

.number-field input {
    padding: 4px 8px;
    background-color: var(--background-secondary);
    border: 1px solid var(--background-secondary);
    font: var(--display-small);
    color: var(--content-primary);
    border-radius: 8px;
}

#footer-layout {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.info {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.query {
    font: var(--paragraph-medium);
    color: var(--content-brand);
}


.response {
    font: var(--paragraph-small);
    color: var(--content-secondary);
}

.btn-go {
    margin-top: 1.25rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--background-tertiary);
    border: 1px solid var(--background-tertiary);
    border-radius: 8px;
}

.text-btn-go {
    font: var(--label-medium);
    color: var(--content-primary);
    text-transform: uppercase;
}

@media (min-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #app-layout {
        padding-block: 2.125rem;
    }
}